In [ ]:
#list comprehension

In [ ]:
# converting string  into list 
string="Sunil"
list=[]
for i in string:
  list.append(i)
print(list)

['S', 'u', 'n', 'i', 'l']

In [ ]:
#list comprehension
string="Sunil"
list= [i for i in string] #no statements inside for loop so no ':' required
print(list)

['S', 'u', 'n', 'i', 'l']

In [ ]:
#list comprehension
x=input("Enter your string:")
string =[i for i in x if i!="s"]
print(string)

Enter your string:sunil
['u', 'n', 'i', 'l']

In [ ]:
x=input("Enter your string:")
string=[]
for i in x:
  if i !="s":
    string.append(i)
print(string)

Enter your string:sunil
['u', 'n', 'i', 'l']

In [ ]:
fruits =['apple','ball','cat']
for i, item in enumerate(fruits):
  print(i,item)

0 apple
1 ball
2 cat

In [ ]:
fruits =['apple','ball','cat']
for i, item in enumerate(fruits,start=1): #start to start from required number.
  print(i,item)

1 apple
2 ball
3 cat