In [ ]:
# Write a python function to reverse a string
string=input(print("Enter a string:"))
list = [ i for i in string]
list.reverse()
string= ''.join(i for i in list)
print(string)

Enter a string:
sunil
linus

In [ ]:
# write a python function that accepts a string and calculates the number of uppercase and lowercase letter.
string=input(print("Enter a string:"))
count1=0
count2=0
for i in string:
  if(i.islower()):
   count1 = count1 + 1
  elif(i.isupper()):
   count2 = count2 + 1
print("The number of lowercase letters is:",end=' ')
print(count1)
print("The number of uppercase letters is:",end=' ')
print(count2)

Enter a string:
PYThon
The number of lowercase letters is: 3
The number of uppercase letters is: 3

In [ ]:
#Write a python function that takes a list and return a new list with unique element of first list.
list=input(print("Enter a list:"))
list=[i for i in list]
def f(list):

    a=set(list)

    print(sorted(a))

f(list)

Enter a list:
122333
['1', '2', '3']

In [ ]:
#Write a python functionn that converts BS to AD and vice-versa.

x=input(print("Enter 'a' to convert AD to BS  and 'b' to convert BS to AD:"))
y=int(input(print("Enter a year to convert:")))
if (x=='a' or x=='A'):
  z=y+57
  print(f"{y}AD = {z}BS ")
elif (x=='b' or x=='B'):
  z=y-57
  print(f"{y}BS = {z}AD ")
else:
  print("Enter a valid alphabet")

Enter 'a' to convert AD to BS  and 'b' to convert BS to AD:
b
Enter a year to convert:
2078
2078BS = 2021AD